name: Build and Deploy

on:
  push:
    branches:
      - main
    tags:
      - '*'
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        persist-credentials: true
        clean: true

    - name: Use Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.x

    - name: Update pip
      run: |
        python -m pip install --upgrade pip
        git config --global user.email "devops-bot@vodafone.com"
        git config --global user.name "devops-bot"
        git config --global http.postBuffer 1048576000
        git config --global https.postBuffer 1048576000

    - name: Install mkdocs
      run: |
        pip install -r requirements.txt

    - name: Deploy TAG
      run: |
        git pull
        mike deploy -b main 1.0
    - name: Debug Info
      run: |
        which mike
        mike --version
        mike list

    - name: Deploy latest as current
      run: |
        mike set-default 1.0
        git pull
        mike deploy --push --update-aliases current latest
    
#    - run: mkdocs gh-deploy --force